{% extends "box.haml" %}
{% block additional_class %}course{% endblock %}
{% block header %}
    .name= course.name
    .mnemonic= course.mnemonic
{% endblock %}
{% block content %}
    .teacher
        Cours donné par 
        %a{'href': 'mailto:{{course.teacher}}'}= course.teacher
    .description
        :markdown
            {{course.description}}
{% endblock %}