#app
graph/static/graph.svg

#development
db.sql

#virtualenv
ve/

#Django
*.log
*.pot
*.pyc
local_settings.py


#OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

#Python
*.py[cod]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.project
.pydevproject
