{% extends "layout.haml" %}

{% block content %}
    .thread.box
        .header
            %a.fold{'href':'#'} +
            =thread.name
        .content
            -for message in message_list
                {% include "message.haml" %}
        .footer
            -for kw in keywords
                %a.kwref{'href': '/keywords/{{kw.pk}}/related'}= kw.name
{% endblock %}