{% extends "box.haml" %}

{% block additional_class %}thread{% endblock %}

{% block header %}
=thread.name
{% endblock %}

{% block content %}
-for message in message_list
    {% include "message.haml" %}
{% endblock %}

{% block footer %}
-for kw in keywords
    %a.kwref{'href': '/keywords/{{kw.pk}}/related'}= kw.name
{% endblock %}