!!! 5
%html
    %head
        %title {% block title %}P402::Witheboard{% endblock %}
    %body
        #header
            #logo 
                %a{'href':'/'} P402
            #userinfo
        #content
            {% block content %}
            P402
            %em v. Whiteboard
            est une plateforme étudiante collaborative, libre et ouverte
            {% endblock %}
        #footer
        