/* 20x20 icon on left */
body {
  padding: 0px; }

.kwref {
  background-color: #e1b66a;
  padding: 2px 7px 2px 7px;
  border-radius: 10px;
  color: #333333;
  text-decoration: none; }
  .kwref:hover {
    background-color: #d8a140; }

.category {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left top;
  background-image: url("ico/category.png"); }

.thread {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left top;
  background-image: url("ico/thread.png"); }

.course {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left top;
  background-image: url("ico/course.png"); }

.box {
  padding-top: 20px;
  padding-bottom: 3px;
  background-color: #cccccc; }
  .box .header {
    font-weight: bold; }
  .box .footer {
    font-size: 85%; }

#header {
  margin: 0px;
  padding: 10px;
  background-color: #1e4995;
  color: #fdfcfe;
  border-radius: 10px 10px 0px 0px;
  border: solid 1px #1e4995; }
  #header a {
    color: #fdfcfe;
    text-decoration: none; }
  #header #logo {
    width: 30%;
    font-size: 200%;
    font-weight: bolder; }
    #header #logo:hover {
      color: #e4d6f1; }
  #header #userinfo {
    text-align: right;
    width: 30%; }
